server:
  port: 8082

spring:
  application:
    name: project-service

  datasource:
    url: jdbc:mysql://localhost:3306/ProjectStore?createDatabaseIfNotExist=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update

  output:
    ansi:
      enabled: ALWAYS

service:
  auth:
    baseURL: http://localhost:8081/api/auth
  freelancer:
    baseURL: http://localhost:8083/api/freelancers

management:
  endpoints:
    web:
      exposure:
        include: health,metrics